html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font: 16px/1.5 Arial, sans-serif;
}

label {
  display: block;
}

input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 1em;
  background: #fafafa;
  border: 1px solid #999;
  border-radius: .3em;
  cursor: pointer;
}

input[type=button]:hover {
  background: -webkit-linear-gradient(#fff, #dfdfdf);
  background: -moz-linear-gradient(#fff, #dfdfdf);
  background: -ms-linear-gradient(#fff, #dfdfdf);
  background: -o-linear-gradient(#fff, #dfdfdf);
  background: linear-gradient(#fff, #dfdfdf);
}

input[type=button]:active {
  background: -webkit-linear-gradient(#dfdfdf, #fff);
  background: -moz-linear-gradient(#dfdfdf, #fff);
  background: -ms-linear-gradient(#dfdfdf, #fff);
  background: -o-linear-gradient(#dfdfdf, #fff);
  background: linear-gradient(#dfdfdf, #fff);
}

.viewport {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
  -webkit-transform: translateZ(-99999px);
  -moz-transform: translateZ(-99999px);
  -ms-transform: translateZ(-99999px);
  -o-transform: translateZ(-99999px);
  transform: translateZ(-99999px);
}


.panel {
  position: absolute;
}

.panel_right {
  right: 0;
  top: 0;
  width: 18em;
}

.panel_timeline {
  left: 0;
  bottom: 0;
  width: 100%;
}

.panel__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background: rgba(255,255,255,.9);
  width: 100%;
  z-index: 0;
}

.panel__controls {
  position:relative;
  padding: 15px;
}

.panel_right span {
  width: 4.5em;
  display: inline-block;
}

.panel_right input[type=text] {
  border: 1px solid #fff;
  font-size: 1em;
  width: 3.5em;
  margin: 0 .1em;
  cursor: col-resize;
  text-align: center;
  }
  .panel_right input[type=text]:focus {
    outline: 0;
    border-color: #ccc;
  }
  .panel_right label {
    display: inline-block;
    text-align: center;
    padding: 0 .4em;
  }
  .panel_right input[type=radio] {
    display: block;
    font-size: 1em;
    margin: 0;
  }
  

.panel_timeline input[type=range] {
  width: 80%;
  height: 1.6em;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: .5em;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  cursor: col-resize;
  vertical-align: middle;
}

.panel_timeline input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.6em;
  width: 5px;
  background: black;
}

.panel_timeline input[type=range]:before {
  content: '';
  display: block;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  pointer-event: 0;
}

::-webkit-slider-thumb {
  cursor: col-resize;
}

.popup {
  width: 70%;
  height: 70%;
  box-shadow: 0 0 50px rgba(0,0,0,.2);
  position: absolute;
  left: 15%;
  top: 15%;
  -webkit-transform: translateZ(99999px);
  overflow: scroll;
  display: none;
  font: 13px/1.8 Menlo, Monaco, Mono-Space;
  white-space: pre;
  background: white;
}

.toggler {
  padding: 10px 0;
}