html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font: 16px/1.5 Arial, sans-serif;
}

label {
  display: block;
}

.viewport {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
  -webkit-transform: translateZ(-99999px);
  -moz-transform: translateZ(-99999px);
  -ms-transform: translateZ(-99999px);
  -o-transform: translateZ(-99999px);
  transform: translateZ(-99999px);
}

.controls {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  background: #ddd;
  opacity: .7;
}

.controls input {
  width: 95%;
}

.timeline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ddd;
  opacity: .7;
}

.timeline input[type=range] {
  -webkit-appearance: none;
  width: 93%;
  height: 2px;
  background: #333;
  margin-bottom: 10px;
}

.timeline ::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 5px;
  background: red;
  cursor: col-resize;
}

.popup {
  width: 70%;
  height: 70%;
  box-shadow: 0 0 50px rgba(0,0,0,.2);
  position: absolute;
  left: 15%;
  top: 15%;
  -webkit-transform: translateZ(99999px);
  overflow: scroll;
  display: none;
  font: 13px/1.8 Menlo, Monaco, Mono-Space;
  white-space: pre;
  background: white;
}